body {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#calcBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(50px);
  border-radius: 10px;
}
table {
  width: 40vh;
  height: 60vh;
  min-width: 95px;
  min-height: 156px;
}
td {
  border: 1px solid grey;
  width: 10vh;
  height: 7vh;
  text-align: center;
}
#result {
  background-color: rgb(61, 59, 59);
  color: forestgreen;
  text-align: left;
  border-radius: 10px;
}
.numbers {
  color: white;
  background-color: grey;
  border-radius: 25px;
}
.modifiers {
  color: white;
  background-color: #235723;
  border-radius: 25px;
}
.result {
  background-color: rgb(61, 59, 59);
  bottom: 0%;
  height: 2vh;
  border-radius: 25px;
}
